node_modules
dist
dashboard/node_modules
dashboard/dist
.env
.wwebjs_auth
qrcode.html
*.log
.DS_Store
.ml_session
baileys_auth
release
.wwebjs_cache
*.html
*.webp
*.png
!icone-exe.png
scratch/
whatsapp-server/
